@import 'planes/base.css';
@import 'planes/unit.css';

.moo-input {
  @mixin clear-select;
  overflow: hidden;

  input {
    padding-left: 0;
    padding-top: 8pxr;
    padding-bottom: 8pxr;
    width: 100%;
    text-indent: 5pxr;
    outline: none;
    font-size: 14pxr;
    border: 1px solid #dfdfdf;
    border-radius: 5pxr;
    box-sizing: border-box;
  }
}

.moo-input-disabled {
  input {
    border-color: #f4f4f4;
  }
}

.moo-input-error {
  input {
    border: 1px solid #c00;
  }
}

.moo-input .input-container {
  position: relative;
  text-align: center;
}

.moo-input .input-mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.moo-input .input-clear {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  line-height: normal;
  color: #dfdfdf;

  span {
    display: block;
    position: relative;
    top: 50%;
    left: 0;
    margin-top: -8px;
    margin-right: 1px;
    padding: 0 2px;
    font-size: 16px;
    background-color: #fff;
  }
}

.moo-input .input-clear:hover {
  color: #00619c;
}

.moo-input .input-verify-fail-tips {
  padding: .5em 0;
  text-align: left;
  color: #c00;
}
