@import 'planes/base.css';
@import 'planes/unit.css';

$btnColor: #00619c;
$pressColor: #0d3046;

.moo-btn {
  @mixin clear-select;
}

.moo-btn .btn-touch {
  height: 2em;
  line-height: 2em;
  background-color: $btnColor;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}

.moo-btn .btn-tap {
  background-color: $pressColor;
}

.moo-btn-disabled .btn-touch {
  background-color: #ccc;
}

.moo-btn-disabled .btn-tap {
  background-color: #ccc;
}

@media (width <= 600px) {
  .moo-btn .btn-touch {
    height: 28pxr;
    line-height: 28pxr;
  }
}
