.lilia-self-adaptive-box {
  .lilia-btn .btn-touch {
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    border-radius: 0;
    text-align: left;
    text-shadow: none;
    word-break: break-all;
    color: #333;
  }
}
