@import 'planes/base.css';
@import 'planes/unit.css';

.lilia-condition {
  position: relative;
  padding: 6pxr;
  min-width: 1800pxr;
  background-color: #a3d6a8;
  background: -o-linear-gradient(#dfffe2, #f4fff5);
  background: -moz-linear-gradient(#dfffe2, #f4fff5);
  background: -webkit-linear-gradient(#dfffe2, #f4fff5);
  border-radius: 5pxr;
  border: 1px solid #07a220;
  font-size: 14pxr;

  .lilia-pop {
    width: auto;
  }

  .lilia-time-zones .time-split {
    width: 10%;
  }

  .lilia-time-zones .time-scope {
    width: 45%;
  }

  .lilia-pop-checkbox .lilia-pop,
  .lilia-pop-radio .lilia-pop {
    width: auto;
    .lilia-btn .btn-touch {
       span.pop-checkbox-selected,
       span.pop-radio-selected {
         width: auto;
       }
    }
  }
}

.lilia-condition .lilia-select .select-pull-down {
  z-index: 5;
}

.lilia-condition .condition-container {
  position: relative;
  margin-bottom: 5pxr;
}

.lilia-condition .condition-container::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.lilia-condition .condition-item::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.lilia-condition .condition-container:last-child {
  margin-bottom: auto;
}

.lilia-condition .condition-item {
  float: left;
}

.lilia-condition .condition-item .condition-container{
  float: left;
  width: 65%;
}

.lilia-condition .condition-container-half {
  float: left;
}

.lilia-condition .condition-name {
  @mixin clear-select;
  float: left;
  padding: 8pxr 0;
  width: 30%;
  border: 1px solid transparent;
  font-size: 14pxr;
  text-align: right;
  color: #004006;
}

.lilia-condition .condition-checkbox-list,
.lilia-condition .condition-radio-list {
  position: absolute;
  z-index: 5;
  top: 100%;
  margin-top: -1px;
  width: 100%;
  background-color: #fff;

  .lilia-btn {
    .btn-touch {
      padding: 5pxr;
      font-size: 12pxr;
    }
  }
}

.lilia-condition .condition-checkbox-con {
  overflow-y: auto;
  height: 200pxr;
  border: 1px solid #07a220;
}

.lilia-condition .condition-checkbox-list .lilia-checkbox {
  background-color: #fff;
}

.lilia-condition .lilia-checkbox .box-item,
.lilia-condition .lilia-radio .radio-item {
  margin-left: 0;
  width: 100%;
  border-bottom: 1px dashed #f4f4f4;
}

.lilia-condition .lilia-checkbox .box-item:last-child,
.lilia-condition .lilia-radio .box-item:last-child {
  border: none;
}

.lilia-condition .condition-checkbox-result {
  .lilia-btn {
    .btn-touch {
      padding: 8pxr;
      background: #fff;
      border: 1px solid #07a220;
      text-shadow: none;
      color: #333;
    }
  }

  .liliafont {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 26pxr;
    margin-top: -13pxr;
    margin-right: 7pxr;
    color: #0d462c;
  }
}

.lilia-condition .condition-checkbox-search {
  overflow: hidden;
  border-left: 1px solid #07a220;
  border-right: 1px solid #07a220;
  border-top: 1px solid #07a220;
  border-radius: 5pxr;

  .lilia-input {
    input {
      position: relative;
      top: 1px;
      padding: 8pxr;
      font-size: 12pxr;
      border-radius: 0;
      border: 0;
    }
  }
}

.lilia-condition .condition-checkbox-operator {
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #10a123;
  border-bottom: none;
  .lilia-btn {
    float: left;
    margin-left: 5pxr;
    margin-right: 5pxr;
  }
  .lilia-btn .btn-touch {
    padding: 8pxr 0;
    background: #fff;
    border-radius: 0;
    border: 0;
    font-size: 14pxr;
    color: #8c8c8c;
    text-shadow: none;
  }
  .lilia-btn:first-child .btn-touch {
    color: #c00;
  }
}

.lilia-condition .condition-radio-search {
  overflow: hidden;
  background-color: #fff;
  border-left: 1px solid #07a220;
  border-right: 1px solid #07a220;
  border-top: 1px solid #07a220;
  border-radius: 5pxr;
  .lilia-input {
    input {
      font-size: 14pxr;
      border-radius: 0;
      border: 0;
    }
  }
}

.lilia-condition .condition-radio-operator {
  overflow: hidden;
  background-color: #fff;
  border-bottom: 1px solid #93ce98;
  .lilia-btn {
    float: left;
    margin-left: 5pxr;
    margin-right: 5pxr;
  }
  .lilia-btn .btn-touch {
    padding: 8pxr 0;
    background: #fff;
    border-radius: 0;
    border: 0;
    font-size: 14pxr;
    color: #8c8c8c;
    text-shadow: none;
  }
  .lilia-btn:first-child .btn-touch {
    color: #c00;
  }
}

.lilia-condition .condition-radio-list {
  overflow-y: auto;
  position: absolute;
  z-index: 99;
  top: 100%;
  margin-bottom: -2px;
  width: 100%;
  height: 200pxr;
  border: 1px solid #07a220;
  background-color: #fff;
  box-sizing: border-box;

  .lilia-radio .radio-item {
    overflow: hidden;
    position: relative;
    float: none;
    padding-left: 30pxr;

    .radio-check {
      position: absolute;
      left: 6pxr;
      margin-top: 0;
      border-radius: 50%;
      border-color: #00619c;
      font-size: 14pxr;
    }
  }
}

.lilia-condition .condition-radio-list .lilia-checkbox {
  background-color: #fff;
}
