@import 'planes/base.css';
@import 'planes/unit.css';

.lilia-paging {
  @mixin clear-select;
  overflow: hidden;
}

.lilia-paging .paging-tips {
  height: 42pxr;
  line-height: 42pxr;
  font-size: 14pxr;
  text-align: center;
  color: #666;
}

.lilia-paging ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.lilia-paging ul li {
  float: left;
  list-style-type: none;

  .lilia-btn .btn-touch {
    padding: 0;
    height: 42pxr;
    line-height: 42pxr;
    background: transparent;
    text-shadow: none;
    border: none;
    border-radius: 0;
    font-size: 28pxr;
    color: #0d462c;
  }

  .lilia-btn-disabled .btn-touch {
    color: #333;
  }
}

.lilia-paging ul li.page-no {
  .lilia-btn .btn-touch {
    padding: 0 10pxr;
  }
}

.lilia-paging ul li.page-no-selected {
  .lilia-btn .btn-touch {
    font-weight: bold;
    color: #d10432;
  }
}

.lilia-paging ul li.paging-operate {
  .lilia-btn .btn-touch {
    padding: 0 10pxr;
    width: auto;
    height: 42pxr;
    line-height: 42pxr;
    background: transparent;
    text-shadow: none;
    border: none;
    font-size: 18pxr;
    color: #00a41f;
  }
}
