@import 'planes/base.css';
@import 'planes/unit.css';

$btnColor: #35cb44;
$moveColor: #35f249;
$pressColor: #00a611;

.lilia-btn {
  @mixin clear-select;

  .btn-touch {
    padding: 10pxr;
    background-color: $btnColor;
    background: -webkit-linear-gradient(to left, #35cb44, #00a41f);
    background: -moz-linear-gradient(to left, #35cb44, #00a41f);
    background: -o-linear-gradient(to left, #35cb44, #00a41f);
    background: linear-gradient(to left, #35cb44, #00a41f);
    border: 2px solid #008d1b;
    border-radius: 5pxr;
    text-align: center;
    text-shadow: 0 0 2px #004006;
    font-size: 14pxr;
    color: #cdffd2;
    cursor: pointer;
  }

  .btn-tap {
    background-color: $pressColor;
    background: $pressColor;
  }

  .btn-touch:hover {
    background-color: $moveColor;
    background: -webkit-linear-gradient(to right, #35cb44, #00a41f);
    background: -moz-linear-gradient(to right, #35cb44, #00a41f);
    background: -o-linear-gradient(to right, #35cb44, #00a41f);
    background: linear-gradient(to right, #35cb44, #00a41f);
  }

  .btn-tap:hover {
    background-color: $pressColor;
    background: $pressColor;
  }

  .btn-disabled .btn-touch {
    background-color: #ccc;
  }

  .btn-disabled .btn-tap {
    background-color: #ccc;
  }
}
