.lilia-time-zones {
  min-height: 51pxr;

  .lilia-pop {
    width: auto;
  }
}

.lilia-time-zones .time-split {
  float: left;
  padding: 8pxr 0;
  text-align: center;
}

.lilia-time-zones .time-scope {
  float: left;
  border-radius: 5pxr;
  cursor: pointer;
}

.lilia-time-zones .clear-time {
  overflow: hidden;
  margin-bottom: 5pxr;
}

.lilia-time-zones .clear-time .lilia-btn {
  float: right;
}
