@import 'planes/base.css';
@import 'planes/unit.css';

.lilia-upload-file {
  @mixin clear-select;
  position: relative;
  overflow: hidden;
  display: inline-block;

  .file-list {
    margin-top: 5pxr;

    .file-item:first-child {
      border-top: 1px solid #efefef;
    }

    .file-item {
      padding-bottom: 5pxr;
      border-left: 1px solid #efefef;
      border-right: 1px solid #efefef;
      border-bottom: 1px solid #efefef;
      background-color: #fafafa;
      color: #666;

      .file-item-preview {
        width: 100%;
      }

      .file-error {
        padding: 5pxr;
        font-size: 14pxr;
        color: #c00;
      }

      .file-item-line {
        overflow: hidden;
        padding-left: 5pxr;
        padding-right: 5pxr;

        .name {
          float: left;
          display: block;
          text-align: right;
          padding-top: 5pxr;
          padding-left: 5pxr;
          padding-right: 5pxr;
          width: 100pxr;
          color: #333;
        }

        .value {
          float: left;
          display: block;
          text-align: left;
          padding-top: 5pxr;
          padding-left: 5pxr;
          padding-right: 5pxr;
        }
      }
    }
  }

  .upload-button {
    position: relative;
    background-color: #06f;
    border-radius: 5pxr;

    input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  .upload-button-content {
    overflow: hidden;
    position: relative;
    padding: 10pxr;
    text-align: center;
    color: #fff;
  }

  .upload-disabled-mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(216, 216, 216, 0.65);
  }
}
