@import 'planes/border.css';

.moo-measure {
  overflow: hidden;

  .measure-content {
    overflow: hidden;
    margin-bottom: 10pxr;
    padding: 10pxr;
    border: 2px solid #008d1b;
  }

  .measure .moo-btn {
    float: left;
    margin-right: .5em;

    .btn-touch {
      padding: .5em;
      height: auto;
      line-height: normal;

      span {
        text-align: center;
        font-size: 13pxr;
      }
    }
  }
}
