@import 'planes/base.css';
@import 'planes/unit.css';

.lilia-button {
  display: inline-block;
  user-select: none;
  letter-spacing: normal;
  word-spacing: normal;

  .tap-area {
    vertical-align: middle;
    transition: 300ms;
    padding: 10pxr 20pxr;
    background-color: #006aff;
    border-radius: 5pxr;
    color: #fff;
    cursor: pointer;
  }
}

.lilia-pressed {
  .tap-area {
    background-color: #0427ff;
  }
}

.lilia-disabled {
  .tap-area {
    background-color: #d1dde3;
  }
}
