@import 'planes/base.css';
@import 'planes/unit.css';
@import './_common_animations.css';

.lilia-datepicker {
  @mixin clear-select;
  background-color: #fff;

  .lilia-pulldown {
    border: none;

    .pulldown-content .pulldown-control {
      .lilia-button .iconfont::before {
        color: #e1ecfd;
      }
    }

    .pulldown-content .pulldown-block {
      .lilia-button .tap-area {
        padding-right: 0;
        color: #000;
      }
    }

    .pulldown-content .pulldown-remove {
      display: none;
    }

    .pulldown-list {
      ul {
        overflow-y: auto;
        max-height: 300pxr;
      }
    }

    .pulldown-content .pulldown-value {
      padding: 0;
      font-size: 22pxr;
    }
  }

  .lilia-input .lilia-button {
    .iconfont::before  {
      color: #e1ecfd;
    }
  }
}

.lilia-datepicker .datepicker-area {
  padding: 0 5pxr 5pxr 5pxr;

  .area-list {
    overflow: hidden;
  }

  .area-title {
    overflow: hidden;
    float: left;
    width: 33.33%;
  }

  .area-title .left {
    float: left;
    box-sizing: border-box;
    padding-left: 10pxr;
  }
}

.lilia-datepicker .datepicker-selector {
  position: relative;
  z-index: 10;

  .lilia-pulldown:before {
    display: none;
  }
}

.lilia-datepicker .datepicker-nav {
  overflow: hidden;
  padding: 5pxr;
  background-color: #fff;

  .nav-item {
    float: left;
    width: 70%;
  }

  .nav-item .lilia-input {
    @mixin filament-bottom #cfcfcf;
    border: none;
    box-shadow: none;

    input {
      font-size: 30pxr;
      font-weight: bold;
      color: #000;
    }
  }

  .nav-item:last-child {
    width: 30%;
    text-align: right;

    .iconfont {
      font-size: 32pxr;
    }

    .lilia-button {
      margin-top: 1pxr;
      margin-left: 5pxr;

      .tap-area {
        padding: 16pxr;
        background-color: #fff;
        
        span {
          color: #006cff;
        }
      }
    }
  }
}

.lilia-datepicker .row {
  width: 100%;
  border-collapse: collapse;
}

.lilia-datepicker .row tr {
  overflow: hidden;
}

.lilia-datepicker .row tr td {
  position: relative;
  padding: 0;
  text-align: center;

  .lilia-button {
    display: block;
  }

  .lilia-button .tap-area {
    display: block;
    padding: 10pxr;
    background-color: transparent;
    text-align: center;
    font-size: 14pxr;
    color: #666;
  }
}

.lilia-datepicker .row tr td:first-child  {
  background-color: #fff;
  color: #fff;
}

.lilia-datepicker .row tr td.select {
  border-radius: 10pxr;

  .lilia-button .tap-area {
    text-decoration: underline;
    font-weight: bold;
    color: #06f;
  }
}

.lilia-datepicker .datepicker-week {
  font-size: 14pxr;
  color: #456a48;
}

.lilia-datepicker tr.datepicker-week td {
  padding: 10pxr 0;
  background-color: #fff;
  box-sizing: border-box;
  color: #006cff;
}

.lilia-datepicker .datepicker-items table {
  tr.datepicker-week td {
    @mixin filament-bottom #dfdfdf;
    background-color: #fff;
  }

  tr.datepicker-week td:first-child {
    background-color: #fff;
    color: #c21717;
  }
}

.lilia-datepicker .datepicker-items .datepicker-item-title {
  font-size: 14pxr;
  color: #fff;
}

.lilia-datepicker .datepicker-items-operator {
  overflow: hidden;
}

.lilia-datepicker .area-time {
  margin-top: 10pxr;
}

.lilia-datepicker .speed-select {
  padding: 10pxr 5pxr;

  .datepicker-items {
    overflow-y: scroll;
    height: 150pxr;
  }

  .lilia-pulldown {
    margin-right: 5pxr;
  }
}
