@import 'planes/base.css';
@import 'planes/unit.css';

.lilia-image {
  overflow: hidden;
  position: relative;
  display: inline-block;
  background-color: #333;

  .image-exception {
    position: relative;
    top: 50%;
    margin: 10pxr;
    text-align: center;

    span {
      font-size: 60pxr;
      color: #fff;
    }

    p {
      font-size: 12pxr;
      color: #fff;
    }
  }

  .lilia-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%);
    transition: 500ms;

    >div {
      font-size: 0;
    }

    img {
      width: 100%;
      transition: 500ms;
    }
  }

  .lilia-loading .load-mask {
    border: none;
  }
}
