@import 'planes/base.css';
@import 'planes/unit.css';

@media (width <= 720px) {
  @mixin border .lilia-input, #bac6cf;

  .lilia-input {
    .lilia-button {
      .iconfont::before {
        font-size: 32pxr;
      }
    }
  }

  .lilia-input:after {
    z-index: -1;
    background-color: #fff;
  }
}

@media (width > 720px) {
  .lilia-input {
    border: 1px solid #bac6cf;

    .lilia-button {
      .iconfont::before {
        font-size: 20px;
      }
    }
  }
}

.lilia-input {
  position: relative;
  overflow: hidden;
  display: inline-block;
  box-shadow: 0 0 5pxr #dfdfdf inset;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;

  input {
    display: inline-block;
    padding: 10pxr 0;
    outline: none;
    text-indent: 10pxr;
    background-color: transparent;
    border: none;
  }

  .input-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d1dde3;
    opacity: .5;
  }

  .lilia-button {
    .tap-area {
      background-color: transparent;
      border-radius: 0;
    }

    .iconfont::before {
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      transform-origin: center;
      transform: translateY(-50%);
      color: #06f;
    }
  }

  .lilia-pressed {
    .tap-area {
      color: #999;
    }
  }
}
