@import 'planes/base.css';
@import 'planes/unit.css';
@import './_common_animations.css';

.lilia-pop {
  display: inline-block;
  position: relative;

  .lilia-pop-header {
    @mixin filament #cfcfcf, 10px;
    display: inline-block;
    font-size: 0;
    
    .pop-header {
      float: left;
      font-size: 14pxr;
      text-align: center;
    }

    .fa-icon {
      float: left;
      margin-left: 10pxr;
      margin-top: -3px;
      transform: translateY(50%);
      transform-origin: center;
      font-size: 0;
      text-align: center;

      .fa {
        font-size: 14pxr;
        color: #006cff;
      }
    }

    .lilia-button .tap-area {
      min-width: 120pxr;
      padding: 10pxr;
      background-color: transparent;
      border-radius: 5pxr;
      text-shadow: none;
      color: #333;
    }
  }

  .lilia-pop-header:before {
    background-color: #fff;
  }

  .lilia-pop-open:before {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .lilia-pop-content {
    @mixin filament #cfcfcf;
    position: absolute;
    z-index: 10;
    margin-top: -4px;
    min-width: 250pxr;
    min-height: 250pxr;
    padding: 10pxr;
    background-color: #fff;
    box-shadow: 0 0 10pxr rgba(0, 0, 0, .25);
  }

  .lilia-pop-open {
    position: relative;
    z-index: 11;
  }
}
