@import 'planes/base.css';
@import 'planes/unit.css';
@import 'planes/border.css';

.lilia-pulldown {
  @mixin filament #efefef, 15px;
  overflow: inherit;
  display: inline-block;
  position: relative;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  border-radius: 15px;
  transition: 300ms;

  .pulldown-mask {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    transition: 500ms;
  }

  .pulldown-list {
    @mixin filament #efefef;
    position: absolute;
    z-index: 100;
    min-width: 300pxr;
    min-height: 60pxr;
    padding: 10pxr 10pxr 0 10pxr;
    background-color: #fff;
    box-shadow: 0 10px 10px rgba(0,0,0,.25);

    ul {
      position: relative;
      z-index: 1;
    }

    li {
      @mixin filament-bottom #efefef;
      float: none;
      margin: 0;
    }

    li:last-child::after {
      display: none;
    }

    .lilia-button {
      display: block;
      position: relative;
      z-index: 1;

      .tap-area {
        padding: 10pxr;
        background-color: transparent;
        border-radius: 0;
        color: #333;
      }
    }

    .lilia-pressed {
      .tap-area {
        background-color: #eaf9ff;
        color: #006aff;
      }
    }

    .lilia-input {
      min-width: 260pxr;

      .lilia-button.input-clear {
        display: inline-block;
        position: static;
        z-index: 0;

        .tap-area {
          margin: 0;
        }
      }
    }
    
    .pulldown-checked {
      border-bottom: 2px solid #006aff;
    }
  }

  .pulldown-content {
    position: relative;
    padding: 7pxr;
    z-index: 2;

    .pulldown-clear {
      clear: both;
    }

    .pulldown-block {
      float: left;

      .lilia-button {
        .tap-area {
          display: block;
          padding: 5pxr;
          background-color: transparent;
          font-size: 18pxr;
          color: #333;
        }
      }
    }

    .pulldown-control {
      .lilia-button {
        .tap-area {
          padding: 0;
          background-color: transparent;
          border-radius: 0;
        }
      }
    }

    .pulldown-title {
      .lilia-button {
        .tap-area {
          border-radius: 0;
        }
      }
    }

    .pulldown-value,
    .pulldown-placeholder {
      padding-left: 5pxr;
      font-size: 18pxr;
      color: #006aff;
    }

    .pulldown-placeholder {
      color: #d5d5d5;
    }
  }
}

.lilia-pulldown:before {
  background-color: #fff;
  transition: 300ms;
}

.lilia-pulldown-disabled:before {
  background-color: #8e8e8e;
}