@import 'planes/base.css';
@import 'planes/unit.css';

@media (width <= 720px) {
  .lilia-tab .lilia-tab-buttons {
    .lilia-tab-item {
      @mixin border-top .lilia-button .tap-area, #efefef;
      @mixin border-left .lilia-button .tap-area, #efefef;
    }

    @mixin border-right .lilia-tab-item:last-child, #efefef;

    .lilia-tab-item:last-child {
      overflow: visible;
    }

    .lilia-tab-item:last-child::after {
      left: auto;
      right: 0;
      width: 1px;
    }
  }

  .lilia-tab {
    @mixin border .lilia-tab-container, #efefef;
  }
}

@media (width > 720px) {
  .lilia-tab .lilia-tab-buttons .lilia-tab-item {
    border-top: 1px solid #efefef;
    border-left: 1px solid #efefef;
  }

  .lilia-tab .lilia-tab-buttons .lilia-tab-item:last-child {
    border-right: 1px solid #efefef;
  }

  .lilia-tab .lilia-tab-container {
    border: 1px solid #efefef;
  }
}

.lilia-tab {
  .lilia-tab-buttons {
    overflow: hidden;

    .lilia-tab-item {
      float: left;
    }

    .lilia-tab-item .lilia-button {
      display: block;
      position: relative;
      z-index: 1;

      .tap-area {
        background-color: transparent;
        color: #333;
      }

      .iconfont {
        color: #06f;
      }
    }

    .lilia-tab-selected {
      .lilia-button {
        border-radius: 0;
        background-color: #06f;
      }

      .lilia-button {
        .tap-area {
          color: #fff;
        }

        .iconfont {
          color: #fff;
        }
      }
    }
  }

  .lilia-tab-container {
    background-color: #fff;
    clear: both;

    .lilia-tab-content {
      background-color: transparent;
    }
  }
}
