@import 'planes/base.css';
@import 'planes/unit.css';

.lilia-tab {
  .lilia-tab-buttons {
    overflow: hidden;

    .lilia-tab-item {
      float: left;
    }

    .lilia-tab-item .lilia-button {
      display: block;
      position: relative;
      z-index: 1;

      .tap-area {
        background-color: transparent;
        color: #333;
      }

      .iconfont {
        color: #06f;
      }
    }

    .lilia-tab-selected {
      .lilia-button {
        border-radius: 0;
        border-bottom: 2px solid #006cff;
      }

      .lilia-button {
        .tap-area {
          color: #006cff;
        }
      }
    }
  }

  .lilia-tab-container {
    @mixin filament #cfcfcf;
    padding: 10pxr;
    clear: both;

    .lilia-tab-content {
      background-color: transparent;
    }
  }

  .lilia-tab-container:before {
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
}
