@import 'planes/base.css';
@import 'planes/unit.css';

.lilia-datepicker {
  @mixin clear-select;
  width: 600pxr;
  border: 1px solid #06a413;
  background-color: #f8fffa;

  .lilia-btn .btn-touch {
    background: transparent;
    border-radius: 0;
    text-align: center;
    border: none;
    font-size: 12pxr;
    color: #333;
    text-shadow: none;
  }

  .lilia-select .select-pull-down {
    overflow-y: auto;
    height: 200pxr;
  }

  .lilia-select .select-clear-option {
    display: none;
  }
}

.lilia-datepicker .datepicker-area {
  padding: 0 5pxr 5pxr 5pxr;

  .lilia-btn .btn-touch {
    padding: 0;
  }

  .area-list {
    overflow: hidden;
  }

  .area-title {
    overflow: hidden;
    float: left;
    width: 33.33%;
  }

  .area-title .left {
    float: left;
    box-sizing: border-box;
    padding-left: 10pxr;

    .lilia-btn .btn-touch {
      text-align: left;
      color: #00619c;
    }
  }
}

.lilia-datepicker .datepicker-nav {
  overflow: hidden;
  padding: 5pxr;
  border-bottom: 1px solid #96d39c;
  background-color: #fff;

  .nav-item {
    float: left;
    width: 70%;
  }

  .nav-item .lilia-input {
    input {
      font-size: 30pxr;
      font-weight: bold;
      color: #0d462c;
    }
  }

  .nav-item:last-child {
    width: 30%;
  }


  .nav-item:last-child .lilia-btn {
    float: right;
  }

  .nav-item:last-child .lilia-btn .btn-touch {
    margin-top: 3pxr;
    margin-right: 5pxr;
    border-radius: 5pxr;
    background-color: #dfffe2;
    border: 1px solid #96d39c;
    color: #016f18;
    font-size: 18pxr;
  }
}

.lilia-datepicker .row {
  width: 100%;
  border-collapse: collapse;
}

.lilia-datepicker .row tr {
  overflow: hidden;
}

.lilia-datepicker .row tr td {
  padding: 0;
  text-align: center;
  border: 1px solid #96d39c;

  .lilia-btn .btn-touch {
    padding: 10pxr 0;
    background-color: #f6fff7;
    font-size: 13pxr;
    text-align: center;
    color: #2f5c45;
  }
}

.lilia-datepicker .row tr td:first-child  {
  .lilia-btn .btn-touch {
    background-color: #dfffe2;
    color: #0d462c;
  }
}

.lilia-datepicker .row tr td.select {
  .lilia-btn .btn-touch {
    background-color: #ade5b2;
    color: #cc006f;
  }
}

.lilia-datepicker .datepicker-week {
  font-size: 12pxr;
  color: #456a48;
}

.lilia-datepicker tr.datepicker-week td {
  padding: 10pxr 0;
  background-color: #dfffe2;
  box-sizing: border-box;
}

.lilia-datepicker tr.datepicker-week td:first-child {
  color: #cb3564;
}

.lilia-datepicker .datepicker-items .datepicker-item-title {
  font-size: 12pxr;
  color: #6bb191;
}

.lilia-datepicker .datepicker-items-operator {
  overflow: hidden;

  .lilia-btn {
    float: left;
    width: 50%;
  }

  .lilia-btn .btn-touch {
    padding: 10pxr;
  }
}

.lilia-datepicker .area-time {
  margin-top: 10pxr;
}

.lilia-datepicker .speed-select {
  padding: 0;
  height: 60pxr;

  .lilia-select {
    float: left;
    margin: 5pxr;
    width: 140pxr;
  }

  .datepicker-items {
    overflow-y: scroll;
    height: 200pxr;
  }

  .lilia-btn .btn-touch {
    padding: 5pxr;
    text-indent: 20pxr;
  }
  .lilia-btn .btn-touch:hover {
    background-color: #dfffe2;
  }
}

.lilia-datepicker .speed-select-time {
  .lilia-select {
    width: 120pxr;
    min-width: auto;
  }
}
