.vp-tree {
  overflow: hidden;
  font-size: 12px;
  padding: 1em;
  background-color: #efefef;
  border-radius: 5px;

  .psm-icon {
    cursor: pointer;
  }

  .psm-detail {
    font-size: 18px;
    color: #00619c;
  }

  .psm-folder, .psm-open-folder {
    font-size: 18px;
    color: #00619c;
  }

  .vp-tree-none {
    padding: .5em;
    font-size: 16px;
    text-align: center;
  }

  .vp-tree-nodes {
    overflow-x: hidden;
    overflow-y: auto;
    float: left;
    padding: 1em;
    min-width: 15em;
    height: 30em;
    background-color: #dfdfdf;
    border-radius: 5px;
    ul {
      margin: 0;
      padding: 0;
      li {
        padding-left: .5em;
        padding-right: .5em;
        line-height: 1.3em;
        cursor: pointer;
        list-style-type: none;;
        font-size: 13px;
        user-select: none;
      }
      .vp-tree-root-item  {
        cursor: pointer;
      }
      .vp-tree-folder-header {
        margin-bottom: .5em;
      }
      .empty-folder {
        color: #fd9;
      }
    }
    li.vp-tree-selected {
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 5px #dfdfdf;
    }
  }

  .vp-tree-no-detail {
    float: none;
  }

  .vp-tree-detail {
    margin-left: 2em;
    float: left;
    .psm-save {
      float: left;
      margin-top: .5em;
      margin-left: 1.7em;
    }
    .vp-input {
      float: left;
      width: 18em;
    }
    .vp-tree-detail-title {
      padding: .5em 0;
      font-size: 18px;
    }
    .vp-tree-detail-item {
      td {
        padding-right: 2em;
        height: 3em;
      }
      .vp-tree-detail-key {
        display: inline-block;
        width: 20em;
      }
    }
  }
}
