@import 'planes/base.css';
@import 'planes/unit.css';

.lilia-toast {
  @mixin clear-select;
  overflow: hidden;
  position: fixed;
  z-index: 9999999999;
  left: 0;
  bottom: 10%;
  padding: 12pxr;
  width: 100%;
  border-radius: 5pxr;

  .toast-showcase {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width: 360pxr;
    font-size: 14pxr;
    border-radius: 5pxr;
    color: #fff;
  }

  .toast-content {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 12pxr;
    min-height: 24pxr;
    line-height: 24pxr;
    font-size: 14pxr;
    text-align: center;
    color: #fff;
  }

  .toast-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 5pxr;
    height: 100%;
    background-color: #333;
    opacity: .85;
  }
}
