@import 'planes/base.css';
@import 'planes/unit.css';

.moo-loading {
  @mixin clear-select;
  overflow: hidden;
  margin: 10pxr;
}

.moo-loading svg path,
.moo-loading svg rect{
  fill: #03609b;
}

.moo-loading .moo-icon {
  margin: 0 auto;
  padding: 14pxr;
  font-size: 12pxr;
  color: #00619c;
  text-align: center;
}

.moo-loading p.load-descrption {
  text-align: center;
  color: #eaeaea;
}
