.moo-radio {
  overflow: hidden;
  position: relative;
  font-size: 12px;
}

.moo-radio .radio-item {
  float: left;
  margin-right: .5em;
  height: 3em;
}

.moo-radio .radio-item .radio-check {
  float: left;
  margin-top: .95em;
  width: 1em;
  height: 1em;
  border: 1px solid #efefef;
  border-radius: 50%;
}

.moo-radio .radio-item .radio-check:hover {
  border: 1px solid #00619c;
}

.moo-radio .radio-checked {
  border: 1px solid #00619c;
}

.moo-radio .radio-checked .radio-checked-box {
  margin: 0 auto;
  margin-top: .25em;
  width: .5em;
  height: .5em;
  background-color: #00619c;
  border-radius: 50%;
}

.moo-radio .radio-name {
  float: left;
  margin: 0 .5em;
  height: 3em;
  line-height: 3em;
}

.moo-radio .radio-mask {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.moo-radio-disabled .radio-item .radio-checked {
  border-color: #efefef;
}

.moo-radio-disabled .radio-item .radio-checked .radio-checked-box {
  background-color: #efefef;
}
