@import 'planes/base.css';
@import 'planes/unit.css';

.moo-radio {
  @mixin clear-select;
  overflow: hidden;
  position: relative;
}

.moo-radio .radio-item {
  float: left;
  height: 36pxr;
  cursor: pointer;
}

.moo-radio .radio-item .radio-check {
  float: left;
  margin-top: 3pxr;
  width: 24pxr;
  height: 24pxr;
  border: 1px solid #00619c;
}

.moo-radio .radio-item .radio-check:hover {
  border: 1px solid #00619c;
}

.moo-radio .radio-checked {
  border: 1px solid #00619c;
}

.moo-radio .radio-checked .radio-checked-box {
  margin: 0 auto;
  margin-top: 4pxr;
  width: 16pxr;
  height: 16pxr;
  background-color: #00619c;
}

.moo-radio .radio-name {
  float: left;
  margin: 0 6pxr;
  height: 36pxr;
  line-height: 36pxr;
  font-size: 14pxr;
}

.moo-radio .radio-mask {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.moo-radio-disabled .radio-item .radio-checked {
  border-color: #efefef;
}

.moo-radio-disabled .radio-item .radio-checked .radio-checked-box {
  background-color: #efefef;
}
