@import 'planes/base.css';
@import 'planes/unit.css';

.lilia-tree {
  @mixin clear-select;
  padding-bottom: 10pxr;
  width: 800pxr;
  border: 1px solid #03a512;
  background-color: #fff;
}

.lilia-tree .tree-line {
  position: relative;
  padding: 10pxr 10pxr 10pxr 25pxr;
  border-left: 2px solid #00a611;
  font-size: 12pxr;
  color: #666;
  cursor: pointer;
}

.lilia-tree .tree-line:hover {
  background-color: #ade5b2;

  .tree-btn {
    background-color: #ade5b2;
  }
}

.lilia-tree .tree-line span {
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  margin-top: -17pxr;
  margin-left: 0;
  width: 80%;
  border-bottom: 2px solid #00a611;
}

.lilia-tree span.tree-middle-line {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
  width: 10pxr;
  border-bottom: 1px solid #dfdfdf;
}

.lilia-tree .tree-root {
  border-top: none;
  border-left: none;
  border-right: none;
  font-weight: bold;
  color: #0d462c;
}

.lilia-tree .tree-line .tree-btn {
  position: relative;
  z-index: 2;
  padding-left: 5pxr;
  background-color: #fff;
}

.lilia-tree span.tree-open {
  display: inline;
  position: relative;
  z-index: 1;
  top: 0;
  margin-left: 5pxr;
  font-weight: bold;
  border-bottom:2px solid transparent;
  font-size: 12pxr;
  color: #03a512;
}

.lilia-tree .tree-selected {
  background-color: #ccffd0;
  color: #0d462c;

  .tree-btn {
    background-color: #ccffd0;
  }

  .tree-open {
    border: none;
  }
}
