.vp-checkbox {
  overflow: hidden;
  position: relative;
  font-size: 12px;
  .vp-checkbox-item {
    overflow: hidden;

    .vp-checkbox-check {
      float: left;
      width: 3em;
      height: 3em;
      .vp-checkbox-box {
        margin-top: .5em;
        margin-left: auto;
        margin-right: auto;
        width: 2em;
        height: 2em;
        line-height: 2em;
        border: 1px solid #9e9e9e;
        border-radius: 5px;
        box-sizing: border-box;
        text-align: center;

        span {
          font-size: 12px;
        }
      }
      .vp-checkbox-checked {
        border: 1px solid #f90;
      }
    }

    .vp-checkbox-name {
      float: left;
      position: relative;
      top: 1px;
      margin: 0 .5em;
      height: 3em;
      line-height: 3em;
    }
  }
}
.vp-checkbox-mask {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.vp-checkbox-disabled {
  .vp-checkbox-item {
    .vp-checkbox-checked {
      border-color: #efefef;
      .vp-checkbox-checked-box {
        background-color: #efefef;
      }
    }
  }
}
