  .vp-category {
     font-size: 12px;
    .vp-category-list {
      margin: 0;
      padding: 0;
      overflow: hidden;
      li {
        float: left;
        margin-right: 5px;
        margin-bottom: 5px;
        list-style-type: none;
        border-radius: 5px;
        .vp-button {
           border-radius: 5px;
          .vp-button-touch {
            border: 1px solid #ddd;
            font-size: 13px;
            padding: 0 .5em;
            height: 2.5em;
            line-height: 2.5em;
            background-color: #fff;
            color: #666;
          }
        }
      }
      li.vp-category-selected {
        .vp-button {
          .vp-button-touch {
            border-color: #00619c;
            background-color: #00619c;
            color: #fff;
          }
        }
      }
    }
  }
