.moo-pop {
  position: relative;
  z-index: 1;
}

.moo-pop .moo-pop-control {
  .moo-btn .btn-touch {
    width: 120pxr;
    border: 1px solid #dfdfdf;
    background-color: #fff;
    color: #333;
  }
}

.moo-pop .moo-pop-open {
  position: relative;
  z-index: 11;
  .moo-btn .btn-touch {
    width: 120pxr;
    border-bottom: 1px solid transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.moo-pop .moo-pop-content {
  position: absolute;
  z-index: 10;
  margin-top: -1px;
  padding: 5pxr;
  border: 1px solid #dfdfdf;
  border-top-left-radius: 0;
  border-top-right-radius: 5pxr;
  border-bottom-left-radius: 5pxr;
  border-bottom-right-radius: 5pxr;
  background-color: #fff;
}
