@import 'planes/base.css';
@import 'planes/unit.css';

.lilia-type {
  min-height: 48pxr;
}

.lilia-type .lilia-type-half {
  margin: 0 auto;
}

.lilia-type .lilia-type-half:last-child {
  .lilia-select {
    float: right;
    width: 95%;
  }
}

.lilia-type .lilia-type-half {
  float: left;
  width: 50%;
}
