.lilia-time .time-default {
  position: relative;
}

.lilia-time .clear-time {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 5pxr;
  margin-bottom: 5pxr;

  .lilia-btn .btn-touch {
    padding: 0;
    min-width: auto;
    border: none;
    span {
      font-size: 14pxr;
    }
  }
}
