.vm {
  .loading {
    overflow: hidden;
    font-size: 12px;
    .psm-police-mark {
      margin: 0 auto;
      padding: .5em;
      width: 1em;
      height: 1em;
      font-size: 40px;
      color: #00619c;
    }
    p.load-descrption {
      padding-bottom: 1em;
      text-align: center;
      color: #00619c;
    }
  }
}
