.vm {
  .btn {
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -o-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    .btn-touch {
      height: 3em;
      line-height: 3em;
      background-color: #f90;
      border-radius: 5px;
      text-align: center;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
    }

    .btn-hover {
      background-color: #f52;
    }

    .btn-has-tapped {
      background-color: #613f0b;
    }
  }

  .btn-disabled {
    .btn-touch {
      background-color: #ccc;
    }
    .btn-hover {
      background-color: #ccc;
    }
    .btn-has-tapped {
      background-color: #ccc;
    }
  }
}
