.vp-login {
  @mixin close-element;

  margin: 0 auto;
  width: 90%;
  font-size: 12px;
  min-width: 49em;

  a, button, label, span, p, h1, h2, h3, h4, h5, h6, div {
    user-select: none;
  }

  .psm-icon {
    font-size: 16px;
  }

  .vp-login-login-content {
    @mixin close-element;
    height: 14em;
  }

  .vp-login-usr-data .vp-login-title {
    padding: .8em;
    background-color: #f3f3f3;
    background: -webkit-gradient(linear, 0 1, 0 55, from(#fff), to(#eaeaea));
    background: gradient(linear, 0 1, 0 55, from(#fff), to(#eaeaea));
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #c9c9c9;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1.5em;
    color: #666;
  }

  .vp-login-usr-data .compact-tips {
    padding: 1em;
    text-align: center;
    font-size: 1.2em;
    color: #fff;
    text-shadow: 0 0 1px #333;

    a {
      color: #f90;
      text-shadow: none;
    }

    a:hover {
      color: #ffc267;
    }
  }

  .vp-login-all-part {
    @mixin close-element;
    padding: 1.5em .5em;
    background-color: #f1f1f1;
    background: -webkit-gradient(linear, 0 10, 50 bottom, from(#fff), to(#f1f1f1));
    background: gradient(linear, 0 10, 50 bottom, from(#fff), to(#f1f1f1));
    border-bottom: 1px solid #efefef;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 15.5em;

    .vp-login-part {
      float: left;
      width: 50%;

      h4 {
        padding-bottom: .5em;
        text-align: center;
        font-size: 1.333em;
        color: #666;
      }
    }

    .vp-login-qrcode {
      .vp-login-qrcode-img {
        display: block;
        margin: 2em auto;
        width: 10em;
        height: 10em;
        background-color: #fff;
      }
    }

    .vp-login-account {
      @mixin close-element;

      ul li {
        position: relative;
        margin: .85em auto;
        width: 25em;
        height: 2.47em;
        line-height: 2.47em;
      }

      label {
        font-size: 1.333em;
        color: #666;
      }

      .psm-icon {
        margin-left: 3em;
      }

      .vp-input {
        position: absolute;
        top: 0;
        margin-left: 5.85em;
        width: 15em;
        outline: none;
        input {
          background-color: #fff;
          color: #4f7f9f;
        }
        input:hover {
          border-color: #045ece;
        }
        .psm-icon {
          margin-left: 0;
        }
      }

      .vp-login-button {
        display: block;
        margin-left: 5.2em;
        width: 8em;
        height: 3em;
        background-color: #f90;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        color: #fff;
        outline: none;
        cursor: pointer;
      }

      .vp-login-button:hover {
        background-color: #ca8010;
      }

      .vp-login-button {
        .psm-icon {
          margin-left: 0;
        }
      }
    }

    .vp-login-change-pattern {
      padding: .8em 0;
      text-align: center;
      font-size: 1.1666em;
      color: #045ece;
      cursor: pointer;
    }

    .vp-login-change-pattern:hover {
      color: #9aa7ff;
    }
  }

  .compact-tips {
    clear: both;
  }
}
