.lilia-pop-radio {
  .icon-arrowdown,
  .icon-arrowup {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 22pxr;
    margin-top: -13pxr;
    margin-right: 7pxr;
    color: #0d462c;
  }

  .lilia-radio {
    .radio-item .radio-check {
      float: none;
    }
    .lilia-btn .btn-touch  {
      text-align: left;
    }
  }

  .lilia-pop {
    position: relative;
    width: 340pxr;
  }

  .lilia-pop .lilia-pop-content {
    width: 100%;
  }

  .lilia-pop .lilia-btn .btn-touch {
    span.pop-radio-selected {
      display: block;
      width: 300pxr;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
  }

  .icon-arrowup {
    display: none;
  }

  .lilia-checkbox .box-item {
    border-bottom: 1px dashed #c6eacc;
  }

  .lilia-pop-open {
    .icon-arrowdown {
      display: none;
    }
    .icon-arrowup {
      display: block;
    }
  }

  .pop-radio-tips {
    padding-top: .5rem;
    text-align: center;
    color: #b9d2bb;
  }
}

.lilia-pop-radio .pop-radio-search {
  overflow: hidden;

  .lilia-input {
    float: left;
    width: 60%;
  }

  .pop-radio-operator {
    overflow: hidden;
    float: left;
    width: 40%;
    .lilia-btn {
      float: left;
      width: 46%;
    }
    .lilia-btn .btn-touch {
      margin: 2pxr 0 2pxr 2pxr;
      padding: 6pxr;
      border-width: 1px;
    }
  }
}
