.vp-button {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  .vp-button-touch {
    height: 3em;
    line-height: 3em;
    background-color: #f90;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
  }
  .vp-button-hover {
    background-color: #f52;
  }
  .vp-button-has-tapped {
    background-color: #613f0b;
  }
}

.vp-button-disabled {
  .vp-button-touch {
    background-color: #ccc;
  }
  .vp-button-hover {
    background-color: #ccc;
  }
  .vp-button-has-tapped {
    background-color: #ccc;
  }
}
